*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    background-color: rgb(241, 148, 25);
    height: 100vh;
    /* padding-top: 8%; */
}
section{
    background-color: rgb(241, 148, 25);
}
h1{
    text-align: center;
    text-transform: capitalize;
    padding-top: 2%;
    font-size: 2.2em;
}
.row{
    /* width: 30%; */
    margin: auto;
    display: flex;
    background-color: rgb(20, 3, 65);
    justify-content: space-around;
    box-shadow: 0px 0px 10px black;
    padding: 5% 0%;
    border-radius: 10%;
}

.images{
    width: 40%;
    height: 40%;
}

.images img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 1.2s linear ;
}

p{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 15%;
    color: white;
}

.inp input{

}